/* FONTS */
@font-face {
  font-family: "Ballpoint";
  src: url("../assets/fonts/Ballpoint-Regular.woff2");
}

@font-face {
  font-family: "Brookshire";
  src: url("../assets/fonts/EFCO Brookshire Regular.ttf");
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring-white:after {
  border: 6px solid #ffffff;
  border-color: #ffffff transparent #ffffff transparent;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.invitation-container {
  display: flex;
  color: #000000;
  box-shadow: 2px 6px 16px 3px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 2px 6px 16px 3px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 2px 6px 16px 3px rgba(0, 0, 0, 0.48);
  flex-direction: column;
  margin: auto;
  position: relative;
  font-style: normal;
  font-family: "Ballpoint", sans-serif;
  line-height: 1;
  background-image: url("../assets/fondo-punteado.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 810px;
  height: 100vh;
  max-height: 850px;
  background-repeat: repeat-y;
  background-size: 100% auto;
}

.invitation-content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-height: 810px;
  margin: auto;
  position: relative;
  width: 100%;
}

.destello {
  position: absolute;
  height: 84px;
  width: 84px;
  margin: 15px;
  /* background-color: white; */
  background-image: url("../assets/destello.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.destello-top-left {
  top: 0;
  left: 0;
}

.destello-top-right {
  top: 0;
  right: 0;
  transform: rotateZ(90deg);
}

.destello-bottom-left {
  bottom: 0;
  left: 0;
  transform: rotateZ(270deg);
}

.destello-bottom-right {
  bottom: 0;
  right: 0;
  transform: rotateZ(180deg);
}

.invitation-header {
  width: 182px;
  font-size: 20px;
  height: 50px;
  margin: 50px auto 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.invitation-subheader {
  width: 250px;
  height: 103px;
  font-size: 48px;
  line-height: 1;
  margin: 5px auto 0;
  font-family: "Brookshire", sans-serif;
  text-transform: lowercase;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.invitation-hat {
  height: 170px;
  width: auto;
  margin: 10px auto 20px;
}

.invitation-description {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.invitation-subdescription {
  width: 250px;
  font-size: 48px;
  height: 42px;
  font-family: "Brookshire";
  margin: 0 auto 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.invitation-house {
  width: 324px;
  height: auto;
  margin: auto;
  display: flex;
}
.invitation-house-direction {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto auto 20px;
}

.invitation-button {
  display: flex;
  width: 236px;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  margin: 25px auto;
  background-color: #3175b4;
  font-size: 22px;
  padding: 12px 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.invitation-button:disabled {
  background-color: #5690c6;
}

.invitation-form-title {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  text-align: center;
  margin: 75px auto 2px;
  width: 140px;
}

.invitation-form-subtitle {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  line-height: 1;
  font-family: "Brookshire";
  text-align: center;
  margin: auto;
  width: 250px;
  height: 37px;
}

.invitation-form-header {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 28px;
  text-align: center;
  margin: 60px auto 15px;
  width: 270px;
  height: 33px;
}

.invitation-form-image {
  position: absolute;
  left: -30px;
  top: -30px;
  width: 46px;
  height: 46px;
}

.invitation-form-btn-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: auto 25px;
  cursor: pointer;
}

.invitation-form-btn-container.disable span {
  color: gray;
}

.invitation-form-btn-container.disable button {
  background-color: gray;
}

.invitation-form-btn {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.invitation-form-btn.confirm-button {
  background-image: url("../assets/boton-check.png");
  border-radius: 50%;
  background-color: #0fc1e8;
}

.invitation-form-btn.denied-button {
  background-image: url("../assets/boton-x.png");
  border-radius: 10px;
  background-color: #ffdb5e;
}

.invitation-form-btn-container span {
  margin: 10px auto 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: auto;
}

.invitation-form-confirm-btn {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  margin: 60px auto auto;
  width: 270px;
  height: 33px;
}

.form-confirm-title {
  width: auto;
  margin: 38px auto;
  font-size: 28px;
  text-align: center;
}

.form-denied-title {
  margin: 20px auto 34.5px;
  width: auto;
  font-size: 26px;
  text-align: center;
}

.error-effect {
  box-shadow: 1px 3px 36px -14px rgba(255, 42, 42, 0.88);
  -webkit-box-shadow: 1px 3px 36px -14px rgba(255, 42, 42, 0.88);
  -moz-box-shadow: 1px 3px 36px -14px rgba(255, 42, 42, 0.88);
}

.invitation-content input {
  font-size: 20px;
}

.invitation-content input.error-effect::placeholder {
  color: rgba(255, 102, 102, 0.88);
}

.invitation-response {
  margin: auto;
  height: 73%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  justify-content: center;
}

.invitation-final-image {
  width: 68px;
  height: 68px;
  margin: 90px auto 0 0;
}

.invitation-final-message {
  font-size: 28px;
  text-align: center;
}

.invitation-final-text {
  height: 27%;
  text-align: center;
  font-size: 50px;
  font-family: "Brookshire";
}

@media only screen and (min-width: 600px) {
  .invitation-container {
    background-repeat: repeat-x;
    background-size: contain;
    min-height: none;
    max-width: 500px;
    min-height: none;
    height: 810px;
    max-height: none;
    box-shadow: 2px 6px 16px 3px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 2px 6px 16px 3px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 2px 6px 16px 3px rgba(0, 0, 0, 0.48);
    margin: 10px auto;
  }
}

table {
  border: 1px solid #000000;
  min-width: 400px;
}

table thead {
  color: white;
  background-color: #abd47b;
}

table thead tr th {
  padding: 0.5rem;
}
